body, 
html {
	height: 100%;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 50px;
	font-family: sans-serif;
}

h2 {
	font-size: 40px;
	font-family: sans-serif;
}

.background {
	background-image: url('background.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
}

.top {
	text-align: center;
	margin: auto;
	height: 170px;
	width: 150px;
	margin-bottom: 20px;
}

img {
	height: 100%;
	width: 100%;
}

.middle {
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	padding: 15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bottom {
	text-align: center;
	position: fixed;
	bottom: 10px;
	width: 100%;
}

#demo {
	font-size: 40px;
	font-family: monospace;
}

a {
	color: white;
}

a:hover {
	color: orange;
}



.button {
    border-radius: 6px;
    width: 150px;
    height: 50px;
    font-size: 24px;
    background-color: orange;
    font-weight: bold;
    color: white;
}

.button:hover {
    background-color: white; /* Green */
    color: orange;
    font-weight: bold;
}