@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	position: relative;
	height: 100%;
}

#nav-bar {
  /*overflow: hidden;*/
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1;
 }

ul {
	margin: 0;
	padding-left: 50px;
	text-decoration: none;
}

#nav-bar li {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

#nav-bar li a{
	text-decoration: none;
	color: white;
}

#nav-bar li:hover {
  background: #FF5F6D;
}

.headerbg {
	background: url('https://raw.githubusercontent.com/Emuallim/emuallim.github.io/master/projects/landingpage/img/bg.png');
	background-size: cover;
	color: #FFF;
	padding: 5%;
	height: 100%;
}

.logo{
	width: 40%;
	margin-top: 30%;
}

.imgright{
	width: 60%;
}

.carousel-inner img{
	margin: auto;
}

h3{
	color: #633991;
	font-size: 55px;
	font-weight: 500;
}

.gallery{
	padding: 50px 20px 50px 20px;
	color: #161616;
}

.card{
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.footer{
	background: #FF5F6D;
	padding: 40px 20px 40px 20px;
	margin: 0;
	color: #fff;
}

.features{
	padding: 50px 20px 50px 20px;
	color: #161616;

}

/* #video{
  background: #ECF0F1;
} */

#video-container{
  padding-bottom:56.25%; 
  position:relative; 
  display:block; 
  width: 100%;
}

iframe {
        padding: 30px;
        width: 100%;
        height: 100%;
        margin: 100px 0 100px 0;
        background: #ECF0F1;
        border: 5px solid #333333;
        border-radius: 30px;
        position:absolute; 
        top:0; left: 0
    }

#download{
  margin-top: 150px;
}
    
   

.footer #submit{
	background: #fff;
	color: #fc3232;
	height: 60px;
	width: 80%;
	border-radius: 80px 80px 80px 80px;
	-moz-border-radius: 80px 80px 80px 80px;
	-webkit-border-radius: 80px 80px 80px 80px;
	margin-top: 5%;
	border: none;
  font-size: 30px;
}

.footer #submit:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	background: #fc3232;
	color: #fff;
}

#email{
  margin: 10px;
  height: 30px;
  width: 180px;
}

.footerbrand{
	background: #181818;
	padding: 40px;
}

.logofooter{
	width: 100%;
}