header{
  background: 
  url("../img/gradient.png") repeat-x,
  url("../img/promo.jpg") no-repeat;
  height: 75rem;
}

.nav_wrapper{
  height: 15rem;
  align-items: center;
  color: white;
  width: 125rem;
  margin: 0 auto;
}

.menu_wrapper{
  display: flex;
}

.nav_menu{
  font-size: 2rem;
  width: 71rem;
}

.nav_menu>*{
  font-family: "GentiumBasic","Arial",sans-serif;
  text-decoration: none;
  color: white;
  padding: 2rem 0;
  /* transition: all .5s; */
}

.nav_menu>*:hover{
  border-top: 3px solid white;
}

.social_icon{
  margin-left: 2rem;
  color:var(--lightYellow);
  font-size: 2.5rem;
  padding: 1rem 0;
  transition: all .5s;
}

.social_icon:hover{
  color: #fff;
}

/* Promo ---------------- */
.promo{
  flex-direction: column;
  padding-bottom: 9rem;
  margin: 0 auto;
  width: 77rem;
  height: 60rem;
  color: white;
}

.promo_heading{
  font-size: 7rem;
  font-weight:lighter;
}

.promo .divider{
  margin: 3rem;
}

.promo-btns{
  display: flex !important;
}

.promo_btn{
  cursor: pointer;
  font-size: 1.8rem;
  width: 23rem;
  height: 6rem;
  color: white;
  margin: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  transition: all .5s;
}

.promo_btn:hover{
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
}
