.ingredients{
  background: url("../img/ingredients.jpg") no-repeat;
  height: 75rem;
  justify-content: flex-end;
}

.ingredients article{
  width: 57rem;
  padding:8rem;
  /* border: 1px solid yellow; */
  margin-right: 21rem;
  background: rgba(0, 0, 0, 0.6);
}

.ingredients_heading, 
.ingredients_text{
  color: #fff;
}

.ingredients_imgs{
  display: flex;
  margin-top: 7.6rem;
  justify-content: space-around;
}

.ingredients_imgs>*{
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.09);
}