.menu{
  background-image: url("../img/pattern-square.png");
  padding: 10rem;
  position: relative;
}

.menu-background{
  position: absolute;
  background: linear-gradient(130deg, 
  rgba(211, 211, 211, 0.5), white);
  /* background: linear-gradient(130deg, 
  #dadfdf, #fff); */
  height: 100%;
  width: 160rem;
  z-index: -9;
}

.menu-groups{
  width: 103rem;
  /* border: 1px solid gray; */
}

.salads, .dishes{
  margin-top: 5rem;
}

.menu_item{
  margin-bottom: 1rem;
  padding:1rem;
}

.menu-left, .menu-right{
  /* border: 1px solid gray; */
  width: 43rem;
}

.food-price{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dab33e;
  color:#dab33e;
}

.special{
  margin-top: -1.5rem;
  display: flex;
  justify-content:flex-end;
}

.special p{
  color: white;
  padding:.5rem 1.5rem;
  background:#d5ba6b;
}

.description{
  color: var(--darkGray);
}

.yellow-border{
  border: 1px solid var(--lightYellow);
}
