@import "header.css";
@import "promo.css";
@import "about.css";
@import "ingredients.css";
@import "menu.css";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
box-sizing: border-box;
font-size: 62.5%; /* 62.5% = 10px or 1rem */
font-family:"Lato regular", Verdana, sans-serif;
}
  
body{
 font-size: 1.6rem;
 color: #4c4c4c;
}

.wrapper{
  margin: 0 auto;
  width: 160rem;
  /* padding: 0 17.5rem; */
}

h2 {
  font-family: "YeservaOne Regular";
  font-size: 3.4rem;
  font-weight: lighter;
  color:#dab33e;
  line-height: 1;
}

.divider{
  padding: 1.5rem 0 3rem 0;
}

.reservations_wrapper{
  background: url("../img/pattern-drop.png");
  background-color: silver;
}

.divider-white{
  background:blueviolet;
}