#menu{
  background-image: url("../img/pattern-square.png");
  height: 99rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-background{
  position: absolute;
  background: linear-gradient(130deg, rgba(211, 211, 211, 0.5), white);
  /* background: linear-gradient(130deg, #dadfdf, #fff); */
  height: 99rem;
  width: 160rem;
  z-index: -9;
}

.menu-groups{
  display: flex;
  width: 103rem;
  align-items: center;
  justify-content: space-between;
  /* height: 80rem; */
}

.salads, .dishes{
  margin-top: 5rem;
}

.menu-header{
  text-align: center;
}

.menu_item{
  margin-bottom: 1rem;
  padding:1rem;
}

.menu-left, .menu-right{
  width: 43rem;
}

.food-price{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dab33e;
  color:#dab33e;
}

.special{
  margin-top: -1.5rem;
  display: flex;
  justify-content:flex-end;
}

.special p{
  color: white;
  padding:.5rem 1.5rem;
  background:#d5ba6b;
}

.description{
  color: #4c4c4c;
}

.yellow-border{
  border: 1px solid #dab33e;
}
