html {
  font-size: 62.5%;
  /* 16px * 62.5 = 10px or 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  background-color: silver;
  margin: 0;
}

.title{
  text-align: center;
  color: #1972E8;
}
.twit-form, .loading{
  width: 50%;
  margin: 0 auto;
}
.loading{
  text-align: center;
}
#name, #content{
  width: 100%;
  margin: 1rem 0;
}
.twit-form button{
  padding: .7rem 1.4rem;
  border-radius: .5rem;
  background-color: rgb(26 115 232);
  /* #1972E8 - blue*/
  color: white;
  cursor: pointer;
  border: 0;
}

.twitDiv{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}