/*Started: 5:00pm, April 15, 2020*/

body {
    display: grid;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/questionBcg.jpeg')center/cover no-repeat fixed;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 33rem;
}

.row {
    text-align: center;
    margin: 3rem;
}

.client {
    font-size: 1.5rem;
    color: #F1502E;
    margin-bottom: 0.5rem;
}

.testimon {
    font-weight: 600;
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

.quotes {
    border-radius: 5px;
    position: relative;
    border: 0.05rem solid white;
}

.btn {
    display: inline-block;
    background: white;
    border: 3px solid green;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 2px 5px black;
    outline: none;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.btn:active {
    background: grey;
    box-shadow: 1px 1px grey;
}

.btn:hover {
    background: green;
    color: white;
}