/*Started: 5:00pm, April 15, 2020*/

body {
    display: grid;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/questionBcg.jpeg')center/cover no-repeat fixed;
}

.container {
    padding-bottom: 3rem;
    max-width: 646px;
    color: white;
    margin: 0 3rem;
}

.row {
    text-align: center;
    margin: 3rem;
}

.client {
    font-size: 1.5rem;
    color: #FFC244;
    margin-bottom: 0.5rem;
}

.testimon {
    font-weight: 600;
    margin: 0 0 7rem 0;
    font-size: 2.5rem;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    position: relative;
    border: 0.05rem solid white;
    padding: 3rem 1rem 0.5rem 1rem;
}

.images {
    height: 100px;
    width: 150px;
    background: url('img/bg-0.jpg')center/cover no-repeat;
    border-radius: 50%;
    position: absolute;
    top: -20%;
}

.customer {
    text-transform: uppercase;
}

.stars {
    width: 100px;
}

.btn {
    border: 3px solid #FFC244;
    background: transparent;
    font-weight: bold;
    color: #FFC244;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    outline: none;
}

.bigQuote {
    margin: 0;
    font-size: 9rem;
    color: #FFC244;
    margin-bottom: -100px;
    letter-spacing: -20px;
    transform: rotateX(3.142rad);
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: -1.5rem;
    transform: translate(-50%, -50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: -1.5rem;
    transform: translate(50%, -50%);
}

.btn:hover {
    background: #FFC244;
    cursor: pointer;
    color: white;
}