body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
    background: lightblue;
    display: flex;
    justify-content: center;
}

#container {
    font-size: 1.5rem;
    width: 360px;
    height: 640px;
    background: #e6e6e6;
}


/* ----------- Start --------------------------- */

.start {
    font-size: 1rem;
    justify-content: center;
}

.start-header {
    font-size: 1.5rem;
}

.start-body {
    padding: .1rem .7rem;
}

.hide {
    display: none !important;
}

.start-btn {
    text-align: center;
}

.startBtn:hover {
    background-color: #3e8e41;
}

.startBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}


/* ------------vocabulary-learn--------------------- */

.vocabulary {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.header,
.start-header {
    text-align: center;
    background: #4CAF50;
    color: white;
    padding: 1rem;
    margin: 0;
    grid-column: 1 / -1;
}

.vidDiv,
.start-body {
    color: #555555;
    grid-column: 1 / -1;
    background: white;
    margin: .5rem .8rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

video {
    width: 20rem;
    height: 15rem;
    outline: none;
    grid-column: span 2;
}

.vidDiv>p {
    margin: 0;
    padding: 1rem;
}

.btn,
.startBtn {
    color: white;
    outline: none;
    margin: .9rem;
    padding: .5rem 3rem;
    font-size: 1.2rem;
    background: #4CAF50;
    border: none;
    box-shadow: 0 5px #999;
    border-radius: .5rem;
}

.btn:hover {
    background-color: #3e8e41;
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}


/* -------vocabulary-quiz--------------------------- */

#start {
    background: lightcoral;
}

#quiz {
    background: lightseagreen;
}

#score {
    background: limegreen;
}