body, *, *:before, *:after {
	box-sizing: border-box;
}

html, body{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	color: #474747;
}

h1,h2,h3,h4,h5,h6, .title {
	font-family: "Economica", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em;
}
	/* 
	we use EM because it works relative to the main font in
	the body tag. So if you change font-size: 16px; to 20px 
	EM will change too. As a result your text becomes adaptive 
	*/

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
	/*
	 * The difference between REM and EM is REM is computed from
	 the root (html, body: font-size: 16px) whereas EM is a relative
	 size computed from the size of the elements that contains this
	 element.

	 So if I put this H3 inside of a section with a font-size of 20px
	 1em will be computed starting from that value not the root.

	 When you want to have a measure that is always relative to the
	 root (html, body) you should use REM.
	 */
}

a {
	color: inherit;
	/*
	 * There won't be any custom color applied. If its parent has a 
	 specific color, it will keep the same color. 
	 */
	 font-weight: bold;
	 text-decoration: none;
}

a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0.5em 0;
	line-height: 1.3;
}

.fixed-width {
	width: 940px;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}

.data-block {
	margin-bottom: 3rem;
	/* 	REM: relative to the root size of the page */	
}

/*==============================
=            Header            =
==============================*/

.page-header { /*delete this*/
	/*border: 10px solid red;*/
	border-top: 5px solid #ebebeb;
	padding-bottom: 2em; 
	}

	.page-header h1 {
		position: absolute;
		overflow: hidden;
		top: -100%;
		left: -100%;
		/* you need this to make the page SEO friendly.
		There are a bunch of H2s but no H1 which defines
		the main title of the page. Now a screen reader
		can read the title of the page and google search
		index will continue to index the page and see the H1.
		And our page will have a better outline.*/
	}

	.page-header > div {  /*delete this*/
		/*border: 10px solid blue;*/
		position: relative;
	}

	.page-header .identity {
		font-family: "Pacifico", cursive;
		font-size: 3.5em;
		position: absolute;
		bottom: 0;
	}

	.page-header nav {
		float: right;
		font-family: "Economica", sans-serif;
		text-transform: uppercase;
	}

	.page-header nav li {
		color: #bfbfbf;
		float: left;
		margin-right: 3em;
		margin-top: 3em;
	}

	.page-header nav li:last-child {
		margin-right: 0;
	}

	.page-header nav li em {
		display: block;
		color: #474747;
		font-size: 1.6em;
		/*
		 * use reeddesign.co.uk to see if 
		 20px in your PSD file is equal to 1.6em
		 */
	}

/* ==========================================================================
	   MAIN VISUAL
========================================================================== */
.about-us{
	margin-top: 3rem;
}

	.about-us-container {
		width: 550px;
	}

	.about-us-header {
		font-size: 3em;
		margin-bottom: 0;
	}

	.silver {
		color: #cecece;
	}

	.silver-italic {
		font-style: italic;
	}

	.about-us:after {
		content: " "; /* empty space */
		/*background: green;*/
		display: block;
		height: 5px;
		background: url(../img/pattern.png) left top repeat-x;
		margin-bottom: 3rem;
		margin-top: 5px;
	}

/* ==========================================================================
	   CLAIMS
========================================================================== */

.claim {
	float: left;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 2.4rem;
	/*border: 10px solid orange;*/
	}

	.claim:last-child {
		margin-right: 0;		
	}

	.claim header > i {
		font-size: 2.5rem;
		font-weight: bold;
		color: #9a9a9a;
		float: left;
		width: 25%;
	}

	.claim header > h2 {
		float: left;
		width: 75%;
	}

	.claims:after {
		content: " "; /* empty space */
		/*background: green;*/
		display: block;
		height: 5px;
		background: url(../img/pattern.png) left top repeat-x;
		margin-bottom: 3rem;
		margin-top: 5px;
	}
/* ==========================================================================
   		PORTFOLIO
========================================================================== */
.staff {
	position: relative;
}

.staff .title-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.staff h2 {
	display: inline;
	background: #fff;
	padding: 0.8em;
}

.work {
	float: left;
	width: 31.5%;
	margin-right: 2.5%;
	margin-bottom: 2.4rem;
	}

	.work:last-child {
		margin-right: 0;
	}

	.work figure {
		margin-bottom: 1em;
	}

	.work figure > img {
		width: 100%;
	}


/* ==========================================================================
       FOOTER
========================================================================== */




.page-footer:before {
	content: " "; /* empty space */
	/*background: green;*/
	display: block;
	height: 5px;
	background: url(../img/pattern.png) left top repeat-x;
	
}

.page-footer {
	/*border: 10px solid yellow;*/
	background-color: #f4f4f4;
	color: #9b9b9b;
	font-size: 1rem;
	/* no matter where the footer is coming
	REM relative to the base size of the page */
	height: 70px;
	}

	.page-footer .copyright {
		float: left;
	}

	.page-footer .credits {
		float: right;
	}

.page-footer-content {
	padding: 1em 0;
}



